<h2>test</h2>

<script>
function makePizza() {
  const pizzaPromise = new Promise(function(resolve, reject) {
    resolve('🍕');
  });
  return pizzaPromise;
}
const pizza = makePizza();
console.log(pizza);
</script>